{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Menu: Venta telefónica</title>
{% endblock head %}

{% block content %}
    {% if platillos %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Platillo</th>
                <th scope="col">Costo</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for platillo in platillos %}
                <tr>
                    {% for atribb in platillo %}
                    <td>{{ atribb }}</td>
                    {% endfor %}
                    <td><div class="d-flex justify-content-start">
                        <div class="form-outline">
                            <input readonly value="0" type="text" id="{{ platillo }}" class="form-control" />
                            <label class="form-label" for="form1">Cantidad</label>
                        </div>
                        <div class="btn-group-vertical d-inline btn-group-sm" role="group" aria-label="Vertical button group">
                            <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark" onclick="incrementaSpinner({{ platillo }})">
                            <i class="fas fa-angle-up"></i>
                            </button>
                            <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark" onclick="decrementaSpinner({{ platillo }})">
                            <i class="fas fa-angle-down"></i>
                            </button>
                        </div>
                    </div></td> 
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="card">
                <div class="card-body">
                  <p class="card-text">
                    ¡No hay platillos registrados en la base de datos!
                  </p>
                  <div class="row">
                      <div class="col-md">
                        <div class="card shadow-0 mb-3">
                            <div class="card-body">
                                <div class="d-grid gap-2">
                                    <a href="/" class="btn btn-warning">
                                        <i class="fas fa-arrow-left"></i>
                                        Regresar
                                    </a>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div> 
                </div>
              </div>
          </div>
        </div>
    </div>
    {% endif %}

{% endblock content %}

{% block script %}

    <script>
        function incrementaSpinner(platillo){
            console.log(String(platillo));
            var id = "['"+String(platillo[0])+"', "+String(platillo[1]+"]");//dar formato al arreglo que recibe como parámetro para concordar con el id del elemento
            var val = document.getElementById(id).value;//obtenemos el valor del elemento
            val = parseInt(val) + 1;//lo parseamos a int e incrementamos en 1
            if(!isNaN(val)){//validación Is Not a Number
                document.getElementById(id).value = val;//actualizamos el valor
            }
        }

        function decrementaSpinner(platillo){
            var id = "['"+String(platillo[0])+"', "+String(platillo[1]+"]");
            var val = document.getElementById(id).value;
            val = parseInt(val) - 1;
            if(!isNaN(val)){
                document.getElementById(id).value = val;
            }
        }
    </script>

{% endblock script %}