{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Pedidos por teléfono</title>
{% endblock head %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="card">
                    <div class="card-body">
                        <br>
                        <div class="row">
                            <div class="col-md">
                                <h5>Busqueda del Cliente</h5>
                            </div>
                            <div class="col-md">
                                <div class="input-group">
                                    <div class="form-outline">
                                      <input type="search" id="form1" class="form-control" />
                                      <label class="form-label" for="form1">Teléfono</label>
                                    </div>
                                    <a href="busqueda-cliente" class="btn btn-warning">
                                        <i class="fas fa-search"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
{% endblock content %}