{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Resúmen del pedido</title>
{% endblock head %}

{% block content %}
<!-- Contenedor general para toda la vista -->
<div class="container">
	<!-- Contenedor de caja flexible para poder estirar la tabla -->
	<div class="d-flex">
		<div class="table-responsive flex-grow-1">
			<h4>Resúmen del pedido del cliente</h4>
			<table id="tabla" class="table">
				<thead>
					<tr>
						<th scope="col">Platillo</th>
						<th scope="col">Precio</th>
						<th scope="col">Cantidad</th>
						<th scope="col">Subtotal</th>
					</tr>
				</thead>
				<!-- Jalamos la lista de órdenes y metemos sus elementos uno por uno en la tabla -->
				<tbody>
					{% for pedido in orden %}
					<tr>
						{% for valor in pedido %}
						<td>{{ valor }}</td>
						{% endfor %}
					<tr>
					{% endfor %}
					<!-- ponemos una última fila con el total (calculado desde views.py) -->
					<tr>
						<td colspan="2"></td>
						<td><h6>Total</h6></td>
						<td id="total">total del pedido</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- contenedor de caja flexible para alojar la observación y el botón de cancelar y aceptar -->
	<div class="d-flex align-items-center justify-content-end flex-wrap pb-3">
		<!-- Las observaciónes del pedido ocupan todo el espácio posible, dejando el justo para los botónes -->
		<div class="flex-grow-1 pb-3">
			<h5>Observaciónes del pedido:<br></h5>
			{{ observacion }}
		</div>
		<!-- caja flexible para que los botones se agrupen juntos al redimensionar -->
		<div class="d-flex">
			<div class="px-3">
				<a href="/" class="btn btn-lg btn-danger">Cancelar</a>
			</div>
			<div class="px-3">
				<!-- TODO aquí haría falta meterle que onclick guardara la orden en la BD. -->
				<a href="/" class="btn btn-lg btn-warning">Aceptar</a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block script %}
<script>
	//objeto de tipo internacionalización para formatear cifras a precios
	const formato = new Intl.NumberFormat('es-MX',{
		style: 'currency',
		currency: 'MXN',
		minimumFractionDigits: 2
	})

	//arreglo con las filas de la tabla
	tabla = document.getElementById("tabla").rows

	//formatearemos cada elemento impar de la tabla como precio (el precio el subtotal)
	//esquivamos la primera fila porque es la del encabezado, y la última porque es la del total
	//también esquivamos cada fila par porque bootstrap MDB pone filas vacias a modo de espaciador
	for(var i=1; i<tabla.length-1; i++){
		if(i%2 == 1){
			fila = tabla[i].children
			console.log(fila)
			for(var j=0; j<fila.length; j++){
				if(j%2 == 1){
						fila[j].innerHTML = formato.format(fila[j].innerHTML)
				}
			}
		}
	}

	//formateamos el total por separado
	document.getElementById("total").innerHTML = "<h6>" + formato.format({{ total }}) + "</h6>"
</script>
{% endblock script %}