{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Agregar Platillo</title>
{% endblock head %}

{% block content %}
<div class="container">

    <h5>Agregar Platillo</h5>
    <br>
    <form id="form-plat" method="POST">
    {% csrf_token %}
        <div class="container">
            <!--Formulario para agregar nuevo platillo-->
            <!-- Name input -->

            <!--Nombre del Platilllo-->
            <div class="row mb-1 g-1">
                <div class="col-md-3">
                    <div class="d-flex justify-content-start mt-2 me-2">
                        <h5>Nombre del platillo:</h5>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-outline mb-4">
                        <input type="text" id="nom-plat" class="form-control" required name="nom-plat" autocomplete="off"/>
                        <label class="form-label" for="nom-plat">Nombre del platillo</label>
                    </div>
                </div>
            </div>

            <!--Precio-->
            <div class="row mb-1 g-1">
                <div class="col-md-3">
                    <div class="d-flex justify-content-start mt-2 me-2">
                        <h5>Precio:</h5>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-outline mb-4">
                        <input type="number" id="precio" class="form-control" name="precio"/>
                        <label class="form-label" for="form4Example1">Precio</label>
                    </div>
                </div>
            </div>

           <!--Tipo-->
            <div class="row mb-1 g-1">

                <div class="col-md-3">
                    <div class="d-flex justify-content-start mt-2 me-2">
                        <h5>Tipo:</h5>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="form-check-label">
                        <select class="form-select" aria-label="Default select example" name = "select-tipo">
                            <option selected disabled>Tipo de platillo</option>
                            {% for clave, valor in tip_platillo %}
                                <option value="{{clave}}">{{valor}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <!--Descripción-->
            <div class="row mb-1 g-1">
                <div class="col-md-3">
                    <div class="d-flex justify-content-start mt-2 me-2">
                        <h5>Descripcion:</h5>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-outline ">
                        <textarea class="form-control"  id="descripcion" rows="4" name="descripcion"></textarea>
                        <label class="form-label" for="descripcion">Descripción</label>

                    </div>
                </div>
            </div>
            <div class="row mb-1 g-1 mt-2">
                <button type="submit" class="btn bg-warning btn-block mb-4">Guardar</button>
            </div>

            </div>           
        </div>
    </form>
</div>
{% endblock content %}
