{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Crear nuevo menú del día</title>
{% endblock head %}

{% block content %}

<div id="contenedor-general" class="d-flex flex-column mx-4">

    <h3>Crear nuevo menú del día</h3>

    <form if="form-menu-nuevo" method="POST">
        
        {% csrf_token %}

        <ul id="lista-menus" class="list-group">

            <li id="menu-desayuno" class="list-group-item p-3">

                <div id="cabecera-desayuno" class="d-flex justify-content-between flex-wrap">
                    <h4>Desayuno</h4>
                    <button type="button" class="btn btn-warning" onclick="copiar({{ desayuno_ayer }}, 'check-desayuno')">
                        <i class="far fa-copy fa-lg">
                            Copiar el menú de ayer
                        </i>
                    </button>
                </div>

                <div class="table-responsive-xl">
                    <table id="tabla-desayuno" class="table table-sm">

                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Tipo</th>
                                <th>¿Incluir?</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for platillo in platillos %}
                                <tr>
                                    <td>
                                        {{ platillo.nombre }}
                                    </td>
                                    <td>
                                        {{ platillo.descripcion }}
                                    </td>
                                    <td>
                                        {{ platillo.tipo }}
                                    </td>
                                    <td>
                                        <input id="{{ platillo.nombre }}" name="{{ platillo.nombre }}-desayuno" type="checkbox" class="custom-control-input check-desayuno">
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>

            </li>

            <li id="menu-comida" class="list-group-item p-3">

                <div id="cabecera-comida" class="d-flex justify-content-between flex-wrap">
                    <h4>Comida</h4>
                    <button type="button" class="btn btn-warning" onclick="copiar({{ comida_ayer }}, 'check-comida')">
                        <i class="far fa-copy fa-lg">
                            Copiar el menú de ayer
                        </i>
                    </button>
                </div>

                <div class="table-responsive-xl">
                    <table id="tabla-comida" class="table table-sm">

                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Tipo</th>
                                <th>¿Incluir?</th>
                            </tr>
                        </thead>

                        
                        <tbody>
                            {% for platillo in platillos %}
                                <tr>
                                    <td>
                                        {{ platillo.nombre }}
                                    </td>
                                    <td>
                                        {{ platillo.descripcion }}
                                    </td>
                                    <td>
                                        {{ platillo.tipo }}
                                    </td>
                                    <td>
                                        <input id="{{ platillo.nombre }}" name="{{ platillo.nombre }}-comida" type="checkbox" class="custom-control-input check-comida">
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>

            </li>

            <li id="menu-cena" class="list-group-item p-3">

                <div id="cabecera-cena" class="d-flex justify-content-between flex-wrap">
                    <h4>Cena</h4>
                    <button type="button" class="btn btn-warning" onclick="copiar({{ cena_ayer }}, 'check-cena')">
                        <i class="far fa-copy fa-lg">
                            Copiar el menú de ayer
                        </i>
                    </button>
                </div>

                <div class="table-responsive-xl">
                    <table id="tabla-cena" class="table table-sm">

                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Tipo</th>
                                <th>¿Incluir?</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for platillo in platillos %}
                                <tr>
                                    <td>
                                        {{ platillo.nombre }}
                                    </td>
                                    <td>
                                        {{ platillo.descripcion }}
                                    </td>
                                    <td>
                                        {{ platillo.tipo }}
                                    </td>
                                    <td>
                                        <input id="{{ platillo.nombre }}" name="{{ platillo.nombre }}-cena" type="checkbox" class="custom-control-input check-cena">
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>

            </li>

        </ul>

        <div id="contenedor-botones" class="d-flex justify-content-end py-3">
            <button id="boton-nuevo-menu" type="submit" class="btn btn-primary btn-lg btn-warning">
                <i class="fas fa-file-alt fa-lg">
                    &Tab;Guardar Nuevo Menú del día
                </i>
            </button>
        </div>
        
    </form>

</div>
{% endblock content %}

{% block script %}
<script>
    //función para copiar los platillos de un menu anterior al que se está editando:
    //recibimos tanto la lista de platillos de es menú, como la clase de checkboxes que vamos a manejar (de desayuno, comida o cena).checked
    //recorremos todos los checkboxes dados por clase_checkbox, y si su ID corresponde a uno de los platillos en el menú, marcalo.
    function copiar(menu, clase_checkbox){
        checkboxes = document.getElementsByClassName(clase_checkbox);
        for (i=0; i<checkboxes.length; i++){
            for (j=0; j<menu.length; j++){
                if (checkboxes[i].id == menu[j]){
                    checkboxes[i].checked = true;
                }
            }
        }
    }
</script>
{% endblock script %}