{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Editar el menú del día</title>
{% endblock head %}

{% block content %}
<div id="contenedor-general" class="d-flex flex-column mx-4">

    <h3>Editar el menú del día</h3>

    <form id="form-editar-menu" method="POST">
        
        {% csrf_token %}

        <!-- creamos una lista de tablas donde mostramos cada menú -->
        <ul id="lista-menus" class="list-group">

<!--            <li id="menu-desayuno" class="list-group-item p-3">
                <h5>Desayuno</h5>
                <button id="btn-desplegar-desayunos" type="button" class="btn btn-warning btn-floating" onclick="desplegarDesayunos()">
                    <i class="fas fa-angle-right"></i>
                </button>
                <button id="btn-ocultar-desayunos" type="button" class="btn btn-warning btn-floating" onclick="ocultarDesayunos()">
                    <i class="fas fa-angle-up"></i>
                </button>
                <div class="table-responsive-xl">
                    <table id="tabla-desayuno" class="table table-sm">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Tipo</th>
                                <th>¿Incluir?</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for platillo in platillos %}
                                <tr>
                                    <td>
                                        {{ platillo.nombre }}
                                    </td>
                                    <td>
                                        {{ platillo.descripcion }}
                                    </td>
                                    <td>
                                        {{ platillo.get_tipo_display }}
                                    </td>
                                    <td>
                                        <input id="{{ platillo.nombre }}" name="{{ platillo.nombre }}-desayuno" type="checkbox" class="custom-control-input check-desayuno">
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </li>-->

            <li id="menu-comida" class="list-group-item p-3">
                <h5>Comida</h5>
<!--                <button id="btn-desplegar-comidas" type="button" class="btn btn-warning btn-floating" onclick="desplegarComidas()">
                    <i class="fas fa-angle-right"></i>
                </button>
                <button id="btn-ocultar-comidas" type="button" class="btn btn-warning btn-floating" onclick="ocultarComidas()">
                    <i class="fas fa-angle-up"></i>
                </button>-->
                <div class="table-responsive-xl">
                    <table id="tabla-comida" class="table table-sm">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Tipo</th>
                                <th>¿Incluir?</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for platillo in platillos %}
                                <tr>
                                    <td>
                                        {{ platillo.nombre }}
                                    </td>
                                    <td>
                                        {{ platillo.descripcion }}
                                    </td>
                                    <td>
                                        {{ platillo.get_tipo_display }}
                                    </td>
                                    <td>
                                        <input id="{{ platillo.nombre }}" name="{{ platillo.nombre }}-comida" type="checkbox" class="custom-control-input check-comida">
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </li>

<!--            <li id="menu-cena" class="list-group-item p-3">
                <h5>Cena</h5>
                <button id="btn-desplegar-cenas" type="button" class="btn btn-warning btn-floating" onclick="desplegarCenas()">
                    <i class="fas fa-angle-right"></i>
                </button>
                <button id="btn-ocultar-cenas" type="button" class="btn btn-warning btn-floating" onclick="ocultarCenas()">
                    <i class="fas fa-angle-up"></i>
                </button>
                <div class="table-responsive-xl">
                    <table id="tabla-cena" class="table table-sm">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Tipo</th>
                                <th>¿Incluir?</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for platillo in platillos %}
                                <tr>
                                    <td>
                                        {{ platillo.nombre }}
                                    </td>
                                    <td>
                                        {{ platillo.descripcion }}
                                    </td>
                                    <td>
                                        {{ platillo.get_tipo_display }}
                                    </td>
                                    <td>
                                        <input id="{{ platillo.nombre }}" name="{{ platillo.nombre }}-cena" type="checkbox" class="custom-control-input check-cena">
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </li>-->

        </ul>

        <div id="contenedor-botones" class="d-flex justify-content-end flex-wrap py-3">
            <button id="boton-nuevo-menu" type="submit" class="btn btn-primary btn-lg btn-warning">
                <i class="fas fa-file-alt fa-lg">
                    &Tab;Guardar Menú del día
                </i>
            </button>
        </div>
        
    </form>

</div>
{% endblock content %}

{% block script %}

<script>
    window.onload = function() {
        document.getElementById("tabla-desayuno").style.display = "none";
        document.getElementById("tabla-comida").style.display = "none";
        document.getElementById("tabla-cena").style.display = "none";
        document.getElementById("btn-ocultar-desayunos").style.display = "none";
        document.getElementById("btn-ocultar-comidas").style.display = "none";
        document.getElementById("btn-ocultar-cenas").style.display = "none";
    }
    //función para copiar los platillos de un menu anterior al que se está editando:
    //recibimos tanto la lista de platillos de es menú, como la clase de checkboxes que vamos a manejar (de desayuno, comida o cena).checked
    //recorremos todos los checkboxes dados por clase_checkbox, y si su ID corresponde a uno de los platillos en el menú, marcalo.
    function copiar(menu, clase_checkbox){
        checkboxes = document.getElementsByClassName(clase_checkbox);
        for (i=0; i<checkboxes.length; i++){
            for (j=0; j<menu.length; j++){
                if (checkboxes[i].id == menu[j]){
                    checkboxes[i].checked = true;
                }
            }
        }
    }

    //hacemos que los platillos actualmente en el menú se seleccionen solos
    copiar({{ desayuno_hoy|safe }}, "check-desayuno")
    copiar({{ comida_hoy|safe }}, "check-comida")
    copiar({{ cena_hoy|safe }}, "check-cena")

    function desplegarDesayunos(){
        document.getElementById("tabla-desayuno").style.display = "table";
        document.getElementById("btn-desplegar-desayunos").style.display = "none";
        document.getElementById("btn-ocultar-desayunos").style.display = "initial";
    }
    function ocultarDesayunos(){
        document.getElementById("tabla-desayuno").style.display = "none";
        document.getElementById("btn-desplegar-desayunos").style.display = "initial";
        document.getElementById("btn-ocultar-desayunos").style.display = "none";
    }
    function desplegarComidas(){
        document.getElementById("tabla-comida").style.display = "table";
        document.getElementById("btn-desplegar-comidas").style.display = "none";
        document.getElementById("btn-ocultar-comidas").style.display = "initial";
    }
    function ocultarComidas(){
        document.getElementById("tabla-comida").style.display = "none";
        document.getElementById("btn-desplegar-comidas").style.display = "initial";
        document.getElementById("btn-ocultar-comidas").style.display = "none";
    }
    function desplegarCenas(){
        document.getElementById("tabla-cena").style.display = "table";
        document.getElementById("btn-desplegar-cenas").style.display = "none";
        document.getElementById("btn-ocultar-cenas").style.display = "initial";
    }
    function ocultarCenas(){
        document.getElementById("tabla-cena").style.display = "none";
        document.getElementById("btn-desplegar-cenas").style.display = "initial";
        document.getElementById("btn-ocultar-cenas").style.display = "none";
    }
</script>
{% endblock script %}
