{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Menu: Venta telefónica</title>
{% endblock head %}

{% block content %}
    {% if platillos %}
    <form id="formMenu" method="POST">
        <!-- definimos las pestañas (vía una lista no ordenada) -->
        <ul class="nav nav-tabs nav-fill p-3" id="paneles" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="menu-tab" data-mdb-toggle="tab" href="#panel-menu" role="tab" aria-controls="panel-menu" aria-selected="true">Menús completos</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ordenes-tab" data-mdb-toggle="tab" href="#panel-ordenes" role="tab" aria-controls="panel-ordenes" aria-selected="false">Órdenes</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="bebidas-tab" data-mdb-toggle="tab" href="#panel-bebidas" role="tab" aria-controls="panel-bebidas" aria-selected="false">Bebidas</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="extras-tab" data-mdb-toggle="tab" href="#panel-extras" role="tab" aria-controls="panel-extras" aria-selected="false">Extras</a>
            </li>
        </ul>

        <!-- Definimos los elementos de la tabla como divisiónes de la clase "tab-pane" -->
        <div class="tab-content p-3" id="contenido-paneles">

            <!-- panel 1: menús -->
            <div class="tab-pane fade show active" id="panel-menu" role="tabpanel" aria-labelledby="menu-tab">
                <div class="d-flex flex-column px-3" id="contenedor-lista">
                    <ul class="list-group flex-fill" id="lista-menus">
                        <!--este elemento estará oculto, pero se usará de referencia para generar las entradas de la lista de menús completos-->
                        <li class="list-group-item" id="plantilla-menu" hidden>
                            <div class="container">
                                <div class="row justify-content-between">
                                    <div class="col">
                                        <div class="row mb-1">
                                            <select class="form-select" aria-label="Default select example" name = "select-entrada">
                                                <option selected disabled>Entrada</option>
                                                {% for platillo in platillos %}
                                                    {% if platillo.tipo == 'EN' %}
                                                        <option value="{{platillo.nombre}}">{{platillo.nombre}}</option>
                                                    {% endif %}
                                                {% endfor %}        
                                            </select>
                                        </div>
                                        <div class="row mb-1">
                                            <select class="form-select" aria-label="Default select example" name = "select-segundo-tiempo">
                                                <option selected disabled>Segundo Tiempo</option>
                                                {% for platillo in platillos %}
                                                    {% if platillo.tipo == 'ST' %}
                                                        <option value="{{platillo.nombre}}">{{platillo.nombre}}</option>
                                                    {% endif %}
                                                {% endfor %}   
                                            </select>
                                        </div>
                                        <div class="row">
                                            <select class="form-select" aria-label="Default select example" name = "select-guisado">
                                                <option selected disabled>Guisado</option>
                                                {% for platillo in platillos %}
                                                    {% if platillo.tipo == 'GU' %}
                                                        <option value="{{platillo.nombre}}">{{platillo.nombre}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="row mt-1">
                                            <button type="button" class="btn btn-primary btn-danger" onclick="removerMenu(this)">
                                                <i class="far fa-trash-alt fa-lg">&Tab;Eliminar</i>
                                            </button>
                                        </div>
                                    </div>
                               
                                    
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- Botón para agregar un nuevo menú completo -->
                    <div class="d-flex justify-content-end py-3">
                        <button type="button" class="btn btn-primary btn-md btn-warning" onclick="agregarMenu()">
                            <i class="fas fa-plus fa-lg">&Tab;agregar otro menú</i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- panel 2: órdenes  -->
            <div class="tab-pane fade" id="panel-ordenes" role="tabpanel" aria-labelledby="ordenes-tab">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Platillo</th>
                            <th scope="col">Costo</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for platillo in platillos%}
                        <tr>
                            {% if not platillo.tipo == "EX" %}
                                {% if not platillo.tipo == "BE" %}
                                    <td>{{ platillo.nombre }}</td>
                                    <td class="precio">{{ platillo.precio }}</td>
                                    {% csrf_token %}
                                    <td>
                                        <div class="d-flex justify-content-start">
                                            <div class="form-outline">
                                                <input readonly value="0" type="text" id="orden_de_{{ platillo.nombre }}" class="form-control" name="orden_de_{{ platillo.nombre }}"/>
                                                <label class="form-label" for="form1">Cantidad</label>
                                            </div>
                                            <div class="btn-group-vertical d-inline btn-group-sm" role="group" aria-label="Vertical button group">
                                                <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark" onclick="incrementaSpinner('orden_de_{{ platillo.nombre }}')">
                                                <i class="fas fa-angle-up"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark" onclick="decrementaSpinner('orden_de_{{ platillo.nombre }}')">
                                                <i class="fas fa-angle-down"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- panel 3: bebidas -->
            <div class="tab-pane fade" id="panel-bebidas" role="tabpanel" aria-labelledby="bebidas-tab">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Bebida</th>
                            <th scope="col">Costo</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for platillo in platillos %}
                            <tr>
                                {% if platillo.tipo == "BE" %}
                                    <td>{{ platillo.nombre }}</td>
                                    <td class="precio">{{ platillo.precio }}</td>
                                    {% csrf_token %}
                                    <td>
                                        <div class="d-flex justify-content-start">
                                            <div class="form-outline">
                                                <input readonly value="0" type="text" id="orden_bebida_de_{{ platillo.nombre }}" class="form-control" name="orden_bebida_de_{{ platillo.nombre }}"/>
                                                <label class="form-label" for="form1">Cantidad</label>
                                            </div>
                                            <div class="btn-group-vertical d-inline btn-group-sm" role="group" aria-label="Vertical button group">
                                                <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark" onclick="incrementaSpinner('orden_bebida_de_{{ platillo.nombre }}')">
                                                <i class="fas fa-angle-up"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark" onclick="decrementaSpinner('orden_bebida_de_{{ platillo.nombre }}')">
                                                <i class="fas fa-angle-down"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                 </table>
            </div>

            <!-- panel 4: extras -->
            <div class="tab-pane fade" id="panel-extras" role="tabpanel" aria-labelledby="extras-tab">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Platillo</th>
                            <th scope="col">Costo</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for platillo in platillos%}
                        <tr>
                            {% if platillo.tipo == "EX" %}
                                <td>{{ platillo.nombre }}</td>
                                <td class="precio">{{ platillo.precio }}</td>
                                {% csrf_token %}
                                <td>
                                    <div class="d-flex justify-content-start">
                                        <div class="form-outline">
                                            <input readonly value="0" type="text" id="orden_extra_de_{{ platillo.nombre }}" class="form-control" name="orden_extra_de_{{ platillo.nombre }}"/>
                                            <label class="form-label" for="form1">Cantidad</label>
                                        </div>
                                        <div class="btn-group-vertical d-inline btn-group-sm" role="group" aria-label="Vertical button group">
                                            <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark" onclick="incrementaSpinner('orden_extra_de_{{ platillo.nombre }}')">
                                            <i class="fas fa-angle-up"></i>
                                            </button>
                                            <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark" onclick="decrementaSpinner('orden_extra_de_{{ platillo.nombre }}')">
                                            <i class="fas fa-angle-down"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        <div class="card">
            <div class="card-body">
                <div class="form-outline">
                    <textarea class="form-control" id="textAreaExample" rows="4" name="observaciones"></textarea>
                    <label class="form-label" for="textAreaExample">Observaciones del pedido</label>
                </div>
                <div class="row g-0 gy-0 mt-2">
                    <div class="col">
                        <div class="d-grid gap-2 p-1">
                            <a href="{{ referer }}" class="btn btn-warning">
                                <i class="fas fa-arrow-left"></i>
                                Regresar
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-grid gap-2 p-1">
                            <button type="submit" class="btn btn-warning">
                                <i class="fas fa-cart-plus"></i>
                                Añadir al carrito
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </form>
    {% else %}
        <div class="container">
            <div class="row">
            <div class="col-md">
                <div class="card">
                    <div class="card-body">
                    <p class="card-text">
                        No hay menús para el día de hoy en el sistema.
                    </p>
                    <div class="row">
                        <div class="col-md">
                            <div class="card shadow-0 mb-3">
                                <div class="card-body">
                                    <div class="d-grid gap-2">
                                        <a href="{{ referer }}" class="btn btn-warning">
                                            <i class="fas fa-arrow-left"></i>
                                            Regresar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block script %}
    <script>
        window.onload = function() {
            //agregamos la primera órden
            agregarMenu()
        }
        function incrementaSpinner(platilloNombre){
            console.log(platilloNombre);
            var val = document.getElementById(platilloNombre).value;//obtenemos el valor del elemento
            console.log(val);
            val = parseInt(val) + 1;//lo parseamos a int e incrementamos en 1
            
            if(!isNaN(val)){//validación Is Not a Number
                if(val<100)
                    document.getElementById(platilloNombre).value = val;//actualizamos el valor
            }
        }

        function decrementaSpinner(platilloNombre){
            var val = document.getElementById(platilloNombre).value;
            val = parseInt(val) - 1;
            if(!isNaN(val)){
                if(val>=0)
                    document.getElementById(platilloNombre).value = val;
            }
        }

        
        var numeroMenus = 0; 

        function agregarMenu(){
            //creamos un elemeno de tipo ítem de lista (<li>),
            //le asignamos las clases list-group-item y menu-completo,
            //y le damos un identificador del siguente lugar en la lista
            var nuevoMenu = document.createElement("li")
            nuevoMenu.className = "list-group-item menu-completo" 
            nuevoMenu.id = "menu-" + numeroMenus
            numeroMenus++;

            //buscamos en el documento el elemento con id "plantilla-menu", extraemos su código HTML,
            //y se lo insertamos al menú que acabamos de crear,
            //para luego buscar el elemento "lista-menus" y agregrle el menú que acabamos de crear.
            //luego buscamos dentro del elemento buscamos el texto y le ponemos su número de menú
            //por último incrementamos el contador de cuantos menús hay en la vista
            nuevoMenu.innerHTML = document.getElementById("plantilla-menu").innerHTML
            var selecciones = nuevoMenu.getElementsByClassName("form-select")
            for(i = 0; i<selecciones.length; i++){
                selecciones[i].name = "menu-" + numeroMenus + "-" + i
            }

            document.getElementById("lista-menus").appendChild(nuevoMenu)


        }

        

        function removerMenu(boton){
            //ya que el botón se pasa a si mismo como parámetro, lo usamos de referencia para obtener su contenedor,
            //en este caso su "abuelo" (padre del padre).
            //ya que tenemos ese elemento, lo borramos,
            //y decrementamos el contador de menús en la vista
            menu = boton.parentElement.parentElement.parentElement.parentElement.parentElement
            menu.remove()
            numeroMenus--;

            //ahora obtenemos todos los menús en el documento,
            //y a cada uno le reasignamos su ID y texto para mantener la secuencia de estos
            menus = document.getElementsByClassName("list-group-item menu-completo")
            for (var i=0; i<menus.length; i++){
                menus[i].id = "menu-" + i
            }
        }

        
    </script>
{% endblock script %}