{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Modificar Platillo</title>
{% endblock head %}

{% block content %}
    <div class="container"> 
        <!-- Input de busqueda  -->
                <div class="form-outline">
                    <input type="text" id="busqueda-modificar-platillos" class="form-control" onkeyup="buscar_platillo()" />
                    <label class="form-label" for="form1">
                        <i class="fas fa-search"></i>
                        Busca Platillo
                    </label>
                </div><br>
    
                <div class="table-responsive" id="tabla-extras-padre">
                    {% csrf_token %}
                    <!-- El contenido de esta tabla se crea con javascript (function generaTablaExtras())  -->
                </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Platillo</th>
                        <th>Precio</th>
                        <th>Tipo</th>
                        <th>Complemento</th>
                        <th>Descripción</th>
                        <th>Modificaciones</th>
                    </tr>
                </thead>
            
               
                    <!--En donde se va mostrar el contenido de la tabla-->
                    <tbody id="cuerpo-tabla">
                       
                        {% for p in platillos %}
                            {% if p.platillo.esta_eliminado == False%}
                                <input hidden id="platillo-id_{{p.platillo.id}}" type="text" name="modificar_{{p.platillo.id}}"/>
                                <tr id="platillos-i" name="platillo_muestra">
                                
                                    <td id="nom-plat">{{p.platillo.nombre}}</td>
                                    <td id="precioactual"><input id="cambiar"hidden/>{{p.precio}}</td>
                                    <td>{{p.platillo.get_tipo_display}}</td>
                                    <td>{{p.platillo.es_complemento}}</td>
                                    <td>{{p.platillo.descripcion}}</td>
                                    <td>
                                        
                                        <button type="button" class="btn btn-primary btn-floating mx-1"  data-mdb-toggle="modal" data-mdb-target="#modificarModal_{{p.platillo.id}}" >
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    
                                        <!--Modal para modificar un platillo-->
                                        <div class="modal fade" id="modificarModal_{{p.platillo.id}}" tabindex="-1" aria-labelledby="modificarModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                <form id="form_{{p.platillo.id}}" method="POST">
                                                {% csrf_token %}
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modificarModalLabel">Modificar Platillo</h5>
                                                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <!--Aqui se clocan los elementos html para modificar el formulario-->
                                                    <div class="modal-body">

                                                         <!--<form id="mod-plat" method="POST">-->
                                                        
                                                        <div class="container">
                                                            <!--Formulario para agregar nuevo platillo-->
                                                            <!-- Name input -->
                                                            <!--Nombre del Platilllo-->
                                                            
                                                            <!--Precio-->
                                                            <div class="row mb-1 g-1">
                                                                <div class="col-md-3">
                                                                    <div class="d-flex justify-content-start mt-2 me-2">
                                                                        <h5>Precio (platillos sueltos):</h5>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="form-outline mb-4">
                                                                        <input type="number" id="modprecio" class="form-control" name="modprecio_{{p.id}}" value="{{p.precio}}"/>
                                                                        <label class="form-label" for="form4Example1">Precio</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    
                                                            <!--Tipo-->
                                                            <div class="row mb-1 g-1">
                                                                
                                                                <div class="col-md-3">
                                                                    <div class="d-flex justify-content-start mt-2 me-2">
                                                                        <h5>Tipo:</h5>
                                                                    </div>
                                                                </div>
                                                            
                                                                <div class="col-md-8">
                                                                    <div class="form-check-label">
                                                                        <select class="form-select" aria-label="Default select example" name = "modselect-tipo_{{p.platillo.id}}" id="select{{p.id}}" >
                                                                            
                                                                            {% for clave, valor in tip_platillo %}
                                                                                {% if p.platillo.get_tipo_display == valor %}
                                                                                    <option selected id="{{p.pltillo.id}}option" value="{{clave}}">{{valor}} </option>
                                                                                {% else %}
                                                                                    <option id="{{p.pltillo.id}}option" value="{{clave}}">{{valor}}</option>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
            
                                                    
                                                            <!--Descripción-->
                                                            <div class="row mb-1 g-1">
                                                                <div class="col-md-3">
                                                                    <div class="d-flex justify-content-start mt-2 me-2">
                                                                        <h5>Descripcion:</h5>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="form-outline ">
                                                                        <textarea class="form-control"  id="moddescripcion" rows="4" name="moddescripcion_{{p.platillo.id}}" value="{{p.platillo.descripcion}}">{{p.platillo.descripcion}}</textarea>
                                                                        <label class="form-label" for="descripcion">Descripción</label>
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>

                                                           
                                                        
                                                        
                                                        </div>


                                                        <!--</form>  --> 

                                                    </div>
                                                    <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                                                                    Cancelar
                                                                </button>
                                                                <button type="button" class="btn bg-warning " onclick="enviaformulario('form_{{p.platillo.id}}')">Guardar</button>
                                                    </div>
                                                </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% else %}
                            {% endif %}     
                        {% endfor %}   
                    </tbody>
                
            </table>
        </div>
    </div>

{% endblock content%}
{% block script %}
    <script>
        function enviaformulario(formenvid){
            var formulario = document.getElementById(formenvid);

            console.log(formulario);
            formulario.submit();

        }
        function buscar_platillo(){
            let campoBusqueda = document.getElementById("busqueda-modificar-platillos").value;
            console.log(campoBusqueda.toLowerCase());//muestra lo que adquirió del input **es para pruebas**
            var filtro = removeAccentos(campoBusqueda.toLowerCase());
            var tabla = document.getElementById("cuerpo-tabla");
            var renglones = tabla.getElementsByTagName("tr");
            var columnas, txtValue, txtValueaux;
            for (var i = 0; i < renglones.length; i++) {
                
                columnas = renglones[i].getElementsByTagName("td")[0];
                console.log("hay n "+i+" platillos");
                //console.log(renglones);
                txtValueaux = columnas.textContent || columnas.innerText;
                txtValue = removeAccentos(txtValueaux);
                console.log(txtValue);
                if (txtValue.toLowerCase().indexOf(filtro) > -1) {
                    console.log("Se encontro casualidad");
                    renglones[i].style.display = "";
                } else {
                    console.log("No se encontro casualidad");
                    renglones[i].style.display = "none";
                }
                }

        }

         const removeAccentos = (str) => {
            return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
        }
    </script>


{% endblock script %}