{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Principal</title>
{% endblock head %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <a href="busqueda-cliente" class="btn btn-lg btn-block btn-warning">Tomar pedido</a>
        </div>
        <div class="col">
            <a href="gestion-platillos" class="btn btn-lg btn-block btn-warning">Gestión de platillos</a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <a href="menus-del-dia" class="btn btn-lg btn-block btn-warning">Gestión de menú del día</a>
        </div>
        <div class="col">
            <a href="admin-cliente" class="btn btn-lg btn-block btn-warning">Análisis de clientes</a>
        </div>
    </div>
</div>
{% endblock content %}
